.home {
    height: 92vh;
}

.home-half {
    display: flex;
    flex: 1;
    height: 100%;
}

.home-left {
    flex-direction: column;
    justify-content: space-around;
    padding: 0 10px;
}

.home-left-section {
    display: flex;
    flex-direction: column;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    font-size: 200%;
    text-align: center;
}

.home-icons {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.home-icon {
    padding-left: 50px;
    padding-right: 50px;
}

.home-svg {
    width: 75px;
    height: 75px;
}

.home-right {
    justify-content: center;
}