.projects {
    padding: 20px;
    flex-direction: column;
}

.projects h1 {
    font-size: 400%;
}

.projects h2 {
    font-size: 250%;
    padding-bottom: 10px;
}

.projects span, .projects p, .projects li {
    font-size: 24px;
}

.projects-list {
    gap: 15px;
}

.player {
    width: 800px;
    height: 450px;
}

.fr {
    float: right;
    padding-left: 10px;
}