.projects {
    padding: 20px;
    flex-direction: column;
}

.projects h1 {
    font-size: 400%;
}

.projects h2 {
    font-size: 250%;
}

.projects span, .projects p, .projects li {
    font-size: 150%;
}

.projects-list {
    gap: 15px;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 10px;
}