.projects {
    flex-direction: column;
    padding: var(--app-padding);
}

.projects h2 {
    padding-bottom: 10px;
}

.projects-list {
    gap: 15px;
}

#logo {
    width: 256px;
    height: 256px;
}