/* ===== VARIABLES ===== */
:root {
    --color-text: #fff;
    --color-link: #d3d3d3;
    --color-bg: 2,0,36;
}

* {
    color: var(--color-text);
    margin: 0;
    font-family: 'Fredoka', sans-serif;
}

#body {
    background: rgb(var(--color-bg));
    background: linear-gradient(120deg, rgba(var(--color-bg),1) 0%, rgba(52,125,88,0.65) 100%);
}

#content {
    display: flex;
    height: 92vh;
}

#navbar {
    background-color: rgba(var(--color-bg),0.6);
    height: 8vh;
    display: flex;
    align-items: center;
    font-size: 150%;
}

#navbar nav {
    width: 100%;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

#navbar a {
    text-decoration: none;
    color: var(--color-text);
    position: relative;
    display: inline-block;
}

#navbar a:hover {
    color: var(--color-link);
}

#navbar a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-link);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#navbar a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}