* {
    color: #fff;
    margin: 0;
    font-family: 'Fredoka', sans-serif;
}

#navbar {
    background-color: black;
    height: 8vh;
    display: flex;
    align-items: center;
}

#navbar nav {
    width: 100%;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}