h2 {
    font-size: 350%;
}

.title {
    height: 15vh;
    background-color: #222;
    color: #f3f3ff
}

.home {
    text-decoration: none;
    color: #f3f3ff;
    font-size: 200%;
    margin-top: 500px;
}

.title-txt {
    display: flex;
    justify-content: center;
}

.a {
    display: flex;
    height: 85vh;
    background-color: #222;
    color: #f3f3ff;
}

.a-header {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.a-left {
    flex: 1;
}

.points {
    font-size: 190%;
}

.a-middle {
    flex: 1;
}

.txt-link {
    color: #f3f3ff;
}

.a-right {
    flex: 1;
}