h1 {
    font-size: 500%;
}

h2 {
    font-size: 250%;
}

.i {
    display: flex;
    height: 100vh;
    background-color: #222;
    color: #f3f3ff
}

.i-left {
    flex: 1;
}

.watch {
    padding: 50px;
}

.about {
    padding: 50px;
}

h3 {
    font-size: 200%;
    margin-bottom: 10px;
}

.watch-icons {
    display: flex;
    width: 75%;
}

.yt {
    flex: 1;
}

.yt-img {
    width: 75px;
    height: auto;
}

.twitch {
    flex: 1;
    margin-top: 5px;
}

.twitch-img {
    width: 50px;
    height: auto;
}

.contact {
    padding: 50px;
}

.contact-icons {
    display: flex;
    width: 75%;
}

.discord {
    flex: 1;
    margin-top: 10px;
}

.discord-img {
    width: 75px;
    height: auto;
}

.email {
    flex: 1;
}

.email-btn {
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
}

.email-img {
    width: 75px;
    height: auto;
}

.support {
    padding: 50px;
}

.support-icons {
    display: flex;
    width: 75%;
}

.paypal {
    flex: 1;
    margin-top: 7px;
}

.paypal-img {
    width: 60px;
    height: auto;
}

.bitcoin {
    flex: 1;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    text-align: left;
}

.bitcoin-img {
    width: 65px;
    height: auto;
}

.eth {
    flex: 1;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    text-align: left;
}

.eth-img {
    width: 65px;
    height: auto;
}

.i-midde {
    flex: 1;
}

.facts-wrapper {
    padding: 50px;
}

.facts {
    font-size: 150%;
}

.i-right {
    flex: 1;
}

.me-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}