h1 {
    font-size: 500%;
}

h2 {
    font-size: 250%;
}

h3 {
    font-size: 200%;
    margin-bottom: 10px;
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
}

hr {
    display: none;
}

.i {
    display: flex;
    height: 100vh;
    background-color: #222;
    color: #f3f3ff
}

.i-left {
    flex: 1;
}

.about {
    margin-left: 25px;
    padding: 7.5%;
    width: 75%
}

.watch {
    padding: 7.5%;
    margin-left: 25px;
}

.watch-icons {
    display: flex;
    width: 75%;
}

.yt {
    flex: 1;
}

.yt-img {
    width: 75px;
    height: auto;
}

.twitch {
    flex: 1;
    margin-top: 5px;
}

.twitch-img {
    width: 50px;
    height: auto;
}

.contact {
    padding: 7.5%;
    margin-left: 25px;
}

.contact-icons {
    display: flex;
    width: 75%;
}

.discord {
    flex: 1;
    margin-top: 5px;
}

.discord-img {
    width: 75px;
    height: auto;
}

.email {
    flex: 1;
    margin-top: 5px;
    margin-right: 11px;
}

.email-btn {
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
}

.email-img {
    width: 75px;
    height: auto;
}

.support {
    padding: 7.5%;
    margin-left: 25px;
}

.support-icons {
    display: flex;
    width: 75%;
}

.paypal {
    flex: 1;
    margin-top: 7px;
}

.paypal-img {
    width: 56px;
    height: auto;
}

.bitcoin {
    flex: 1;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    text-align: left;
}

.bitcoin-img {
    width: 65px;
    height: auto;
}

.eth {
    flex: 1;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    text-align: left;
}

.eth-img {
    width: 65px;
    height: auto;
}

.i-middle {
    flex: 1;
}

.middle-title {
    text-decoration: underline;
    margin-top: 5%;
    text-align: center;
    font-size: 200%;
}

.navbar-list {
    font-weight: bold;
    list-style-type: none;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.navbar-item {
    margin-top: 22%;
}

.link {
    text-decoration: none;
    color: #f3f3ff;
    position: relative;
    display: inline-block;
}

.link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f3f3ff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.i-right {
    flex: 1;
    position: relative;
}

.right-bg {
    clip-path: polygon(20% 0%, 100% 0, 100% 20%, 100% 80%, 100% 100%, 20% 100%, 0% 80%, 0% 20%);
    background-color: #00ff7f;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 0;
}

.me-img {
    width: 100%;
    height: 100%;
    z-index: 1;
}

@media screen and (max-width: 1366px) {
    h1 {
        font-size: 350%;
    }

    h2 {
        font-size: 175%;
    }

    h3 {
        font-size: 125%;
    }

    li {
        font-size: 73%;
    }

    p {
        font-size: 75%;
    }

    .yt-img {
        width: 50px;
    }
    
    .twitch-img {
        width: 35px;
    }

    .discord-img {
        width: 50px;
    }

    .email-img {
        width: 50px;
    }

    .paypal-img {
        width: 35px;
    }

    .bitcoin-img {
        width: 45px;
    }

    .eth-img {
        width: 45px;
    }

    .mid-title {
        font-size: 140%;
    }
}

@media screen and (max-width: 480px) {
    hr {
        display: inline;
        margin-left: 10px;
        margin-right: 10px;
        border: 1px solid #f3f3ff;
    }

    .i {
        flex-direction: column;
    }

    .about {
        padding: 25px;
        padding-left: 30px;
    }

    .watch {
        padding: 25px;
        padding-left: 50px;
    }

    .contact {
        padding: 25px;
        padding-left: 50px;
    }

    .support {
        padding: 25px;
        padding-left: 50px;
    }

    .i-middle {
        background-color: #222;
    }

    .i-right {
        background-color: #222;
    }
}